<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>add role page</title>

	<!-- for Anchor -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/aos.css}">
	<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

	<!-- for boomerang 
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/theme.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/fontawesome-all.min.js}"></script>
	-->

</head>

<body>

	<!-- 顶部菜单组件 -->
	<div th:insert="~{system/common/component::#mymenu}"></div>

	<div>
		<div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
			<form class="border rounded p-5" th:object="${addrole}" th:action="@{addrole}" method="post">
				<!-- id:<input type="text" name="id" th:value="*{id}"> -->
				<h3 class="mb-4 text-center">添加新角色</h3>

				<div class="form-group">
					<input type="text" name="name" th:value="*{name}" class="form-control form-control-lg"
						placeholder="新角色名称" required="">
				</div>

				<div class="form-group">
					<input type="text" name="description" th:value="*{description}" class="form-control form-control-lg"
						placeholder="添加角色描述 / 说明">
				</div>

				<div class="form-group">
					<a class="btn btn-outline-primary" th:href="@{list}"> &lt;&lt; 返回</a>
					<button type="submit" class="btn btn-primary">确认添加</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 底部Footer组件 -->
	<div th:insert="~{system/common/component::#myfooter}"></div>

</body>

</html>