<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>role list page</title>
</head>

<body>
	<h1>list role</h1>

	<table border="">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>操作</th>
		</tr>
		<tr th:each="role:${roles}">
			<td th:text="${role.id}">id</td>
			<td th:text="${role.name}">name</td>
			<td th:text="${role.description}">description</td>
			<td>
				<a th:href="@{update(id=${role.id})}">更新</a>
				<a th:href="@{remove(id=${role.id})}">删除</a>
			</td>
		</tr>
	</table>

	<a th:href="@{add}">添加角色</a>

</body>

</html>