<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="com1">
	com1
</div>

<foot th:fragment="com2">
	com2
</foot>

<div id="myheader">
	<img th:src="@{/pic/google.png}">
</div>


<div id="myrolechange">
	<h1>当前角色：</h1>
	<div>
		<form id="defroleform" method="post"
			onsubmit="return defRoleChange('defroleform','defroleselector')">
			<select id="defroleselector">
				<option th:each="role:${session.userroles}" th:value="${role.id}" th:text="${role.name}"
					th:selected="${role.id} == ${session.defrole.id}"></option>
			</select>
			<button type="submit">切换角色</button>
		</form>
	</div>
	<br>
</div>


<div id="mymenu">
	<h1>用户菜单：</h1>
	<div>
		<ul>
			<li th:each="menu:${session.defrole.menuList}">
				<th:block th:if="${not #lists.isEmpty(menu.urlList)}">
					<div th:each="url:${menu.urlList}">
						<a th:if="${url.isEntrance}" th:href="@{${url.path}}"
							th:text="${menu.name}">[[${menu.name}]]</a>
					</div>
				</th:block>

				<th:block th:if="${#lists.isEmpty(menu.urlList)}">
					[[${menu.name}]]
				</th:block>

			</li>

		</ul>
	</div>
</div>




<footer id="myfooter">
	&copy; 2024 ePower Authrization System | Designed By Xiaodan SHAO.
</footer>

</html>