<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>url list page</title>
</head>

<body>
	<h1>资源管理</h1>

	<div>
		<span><a th:href="@{/login}">用户登录</a></span>
	</div>
	
	<div>
		<span><a th:href="@{/user/list}">用户列表</a></span>
		<span><a th:href="@{/role/list}">角色列表</a></span>
		<span><a th:href="@{/menu/list}">菜单列表</a></span>
		<span><a th:href="@{/url/list}">资源列表</a></span>
	</div>

	<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>动态path</th>
				<th>静态path</th>
				<th>菜单入口</th>
				<th>创建日期</th>
				<th>更新日期</th>
				<th>description</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="url:${urls}">
				<td th:text="${url.id}">id</td>
				<td th:text="${url.path}">动态path</td>
				<td th:text="${url.staticPath}">静态path</td>
				<td th:text="${url.isEntrance}">菜单入口</td>
				<td th:text="${url.createTime}">创建日期</td>
				<td th:text="${url.updateTime}">更新日期</td>
				<td th:text="${url.description}">description</td>
				<td>
					<a th:href="@{update(id=${url.id})}">更新</a>
					<a th:href="@{remove(id=${url.id})}">删除</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="8">
					<div align="center">
						<a th:href="@{list(pageNum=${pages.prePage})}">上一页</a>
						<a th:href="@{list(pageNum=${pages.nextPage})}">下一页</a>
						<p>
							第 <span th:text="${pages.pageNum}"></span> 页，
							共 <span th:text="${pages.pages}"></span> 页，
							有 <span th:text="${pages.total}"></span> 个分类
						</p>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>

	<a th:href="@{add}">添加URL</a>

</body>

</html>