<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>url list page</title>
</head>

<body>
	<h1>list url</h1>

	<table border="1">
		<tr>
			<th>id</th>
			<th>动态path</th>
			<th>静态path</th>
			<th>菜单入口</th>
			<th>创建日期</th>
			<th>更新日期</th>
			<th>description</th>
			<th>操作</th>
		</tr>
		<tr th:each="url:${urls}">
			<td th:text="${url.id}">id</td>
			<td th:text="${url.path}">动态path</td>
			<td th:text="${url.staticPath}">静态path</td>
			<td th:text="${url.isEntrance}">菜单入口</td>
			<td th:text="${url.createTime}">创建日期</td>
			<td th:text="${url.updateTime}">更新日期</td>
			<td th:text="${url.description}">description</td>
			<td>
				<a th:href="@{update(id=${url.id})}">更新</a>
				<a th:href="@{remove(id=${url.id})}">删除</a>
			</td>
		</tr>
	</table>

	<a th:href="@{add}">添加URL</a>

</body>

</html>