<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>url list page</title>
</head>

<body>
	<h1>list url</h1>

	<table border="1">
		<tr>
			<th>id</th>
			<th>path</th>
			<th>description</th>
			<th>操作</th>
		</tr>
		<tr th:each="url:${urls}">
			<td th:text="${url.id}">id</td>
			<td th:text="${url.path}">path</td>
			<td th:text="${url.description}">description</td>
			<td>
				<a th:href="@{update(id=${url.id})}">更新</a>
				<a th:href="@{remove(id=${url.id})}">删除</a>
			</td>
		</tr>
	</table>

	<a th:href="@{add}">添加URL</a>

</body>

</html>