<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>user auth page</title>

	<script type="text/javascript">
		function moveUrlOpts(fromSelectId, toSelectId) {
			var fromObj = document.getElementById(fromSelectId);
			var toObj = document.getElementById(toSelectId);

			for (var i = fromObj.length - 1; i >= 0; i--) {
				var op = fromObj.options[i];
				if (op.selected) {
					toObj.options.add(new Option(op.text, op.value));
					fromObj.remove(i);
				}
			}
		}

		function getUrlOptIds(toSelectId) {
			var toObj = document.getElementById(toSelectId);
			var newUrlsObj = document.getElementById("newurls");
			var newUrlsArry = [];

			for (var i = 0; i < toObj.length; i++) {
				newUrlsArry.push(toObj[i].value);
			}

			newUrlsObj.value = newUrlsArry.toString();
		}
		
		function initOpts(selectId){
			var optsObj = document.getElementById(selectId);
			optsObj.options = 0;
		}
		
		initOpts('fromselect');
		initOpts('toselect');
	</script>

</head>

<body>
	<h1>URL配置</h1>

	<div>
		当前菜单：
		<h2 th:text="${menu.name}">角色名称</h2>
	</div>

	<form th:action="@{saveurl(mid=${menu.id})}" method="post">
		<select multiple="multiple" id="fromselect" name="fromselect" style="width: 300px; height: 200px;">
			<option th:each="lefturl:${lefturls}" th:value="${lefturl.id}" th:text="${lefturl.path}">left path name</option>
		</select>

		<input type="button" id="" name="" value="from" onclick="moveUrlOpts('fromselect', 'toselect')">
		<input type="button" id="" name="" value="to" onclick="moveUrlOpts('toselect', 'fromselect')">

		<select multiple="multiple" id="toselect" name="toselect" style="width: 300px; height: 200px;">
			<option th:each="righturl:${righturls}" th:value="${righturl.id}" th:text="${righturl.path}">right path name</option>
		</select>
		<select>
			<input type="hidden" id="newurls" name="newurls" value="">
			<input type="submit" value="添加URL" onclick="getUrlOptIds('toselect')">
	</form>

	<!--
	<table border="1">
		<tr>
			<th>ID</th>
			<th>菜单名称</th>
			<th>菜单说明</th>
			<th>创建日期</th>
			<th>更新日期</th>
			<th>操作</th>
		</tr>
		<tr th:each="rolemenu:${rolemenus}">
			<td th:text="${rolemenu.id}"></td>
			<td th:text="${rolemenu.name}"></td>
			<td th:text="${rolemenu.description}"></td>
			<td th:text="${rolemenu.createTime}"></td>
			<td th:text="${rolemenu.updateTime}"></td>
			<td>
				<a th:href="@{removemenu(rid=${role.id}, mid=${rolemenu.id})}">删除菜单</a>
			</td>
		</tr>
	</table>
	-->
	<a th:href="@{list}">返回菜单列表</a>


</body>

</html>