<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>menu list page</title>
</head>

<body>
	<h1>菜单管理</h1>

	<div>
		<span><a th:href="@{/user/list}">用户列表</a></span>
		<span><a th:href="@{/role/list}">角色列表</a></span>
		<span><a th:href="@{/menu/list}">菜单列表</a></span>
		<span><a th:href="@{/url/list}">资源列表</a></span>
	</div>

	<table border="1">
		<tr>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>记录操作</th>
			<th>配置管理</th>
		</tr>
		<tr th:each="menu:${menus}">
			<td th:text="${menu.id}">id</td>
			<td th:text="${menu.name}">name</td>
			<td th:text="${menu.description}">description</td>
			<td>
				<a th:href="@{update(id=${menu.id})}">更新</a>
				<a th:href="@{remove(id=${menu.id})}">删除</a>
			</td>
			<td>
				<a th:href="@{remove(id=${menu.id})}">URL配置</a>
			</td>
		</tr>
	</table>

	<a th:href="@{add}">添加菜单</a>

</body>

</html>