<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>menu list page</title>
</head>

<body>
	<h1>菜单管理</h1>

	<div>
		<span><a th:href="@{/user/list}">用户列表</a></span>
		<span><a th:href="@{/role/list}">角色列表</a></span>
		<span><a th:href="@{/menu/list}">菜单列表</a></span>
		<span><a th:href="@{/url/list}">资源列表</a></span>
	</div>

	<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>crate_time</th>
				<th>update_time</th>
				<th>description</th>
				<th>记录操作</th>
				<th>配置管理</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="menu:${menus}">
				<td th:text="${menu.id}">id</td>
				<td th:text="${menu.name}">name</td>
				<td th:text="${menu.createTime}">crate_time</td>
				<td th:text="${menu.updateTime}">update_time</td>
				<td th:text="${menu.description}">description</td>
				<td>
					<a th:href="@{update(mid=${menu.id})}">更新</a>
					<a th:href="@{remove(mid=${menu.id})}">删除</a>
				</td>
				<td>
					<a th:href="@{auth(mid=${menu.id})}">URL配置</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="7">
					<div align="center">
						<a th:href="@{list(pageNum=${pages.prePage})}">上一页</a>
						<a th:href="@{list(pageNum=${pages.nextPage})}">下一页</a>
						<p>
							第 <span th:text="${pages.pageNum}"></span> 页，
							共 <span th:text="${pages.pages}"></span> 页，
							有 <span th:text="${pages.total}"></span> 个分类
						</p>
					</div>
				</th>
			</tr>
		</tfoot>
	</table>

	<a th:href="@{add}">添加菜单</a>

</body>

</html>