<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>index page</title>
	<!--
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
	<script src="../static/js/bootstrap.min.js"></script>
	-->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

	<script type="text/javascript" th:inline="javascript" th:src="@{/js/epower.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		// 初始化调用
		init([[${session.defrole.id}]]);
	</script>

</head>

<body>

	<!--
	<div th:replace="~{component::com1}"></div>
	<div th:insert="~{component::com2}"></div>
	<div th:insert="~{component::#com3}"></div><br>
	<div th:insert="~{component::#com_menu}"></div>
	<div th:replace="~{component::com1}"></div>
	-->


	<div th:insert="~{system/common/component::#myrolechange}"></div>

	<div th:insert="~{system/common/component::#myheader}"></div>

	<div th:insert="~{system/common/component::#mymenu}"></div>

	<div th:insert="~{system/common/component::#myfooter}"></div>

</body>

</html>