<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>用户登录</title>

	<!-- for Anchor -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/aos.css}">

	<!-- for boomerang 
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/theme.css}">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/fontawesome-all.min.js}"></script>
	-->
	
</head>

<body>

	<!-- 登录主体 -->
	<div >
		<div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
			<form class="border rounded p-5" id="loginform" name="loginform" th:object="${user}" th:action="@{login}" method="post">

				<h3 class="mb-4 text-center">ePower授权系统</h3>

				<!-- username -->
				<div class="form-group">
					<input type="text" class="form-control" id="username" name="username" placeholder="User Name" required="" th:value="*{username}" />
				</div>

				<!-- password -->
				<div class="form-group">
					<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" th:value="*{password}" />
				</div>

				<!-- 提交btn -->
				<button type="submit" class="btn btn-success btn-round btn-block shadow-sm">登录</button>
				<small class="d-block mt-4 text-center" th:text="${msg}">[[${msg}]]</small>
			</form>
		</div>
	</div>

</body>

</html>