<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="UTF-8">
	<title>用户登录</title>
</head>

<body>

	<div align="center">
		<form th:object="${user}" th:action="@{loginchk}" method="post">
			<table>
				<tr>
					<td>
						<input type="text" id="username" name="username" th:value="*{username}" />
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" id="password" name="password" th:value="*{password}" />
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="登录">
						<input type="reset" value="重置">
					</td>
				</tr>
				</tr>
			</table>
		</form>
		<span th:text="${msg}">msg here...</span>
	</div>

</body>

</html>