<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>user auth page</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!-- Main CSS -->
	<link rel="stylesheet" th:href="@{/css/main.css}">

	<!-- Animation CSS -->
	<link rel="stylesheet" th:href="@{/css/aos.css}">
	
</head>

<body>
	<h1>用户授权</h1>

	<div>
		当前用户：
		<h2 th:text="${user.username}">用户名称</h2>
	</div>

	<form th:object="${addrole}" th:action="@{addrole}" method="post">
		<input type="hidden" name="userId" th:value="*{userId}">
		<select name="select_roles" th:field="*{roleId}">
			<option th:each="role:${roles}" th:value="${role.id}" th:text="${role.name}">
				角色name
			</option>
		</select>
		<input type="submit" value="添加角色">
	</form>

	<table class="table" border="1">
		<thead class="thead-light">
			<tr>
						<th scope="col">角色名称</th>
						<th scope="col">授权日期</th>
						<th scope="col">操作</th>
					</tr>
		</thead>
		
		<tr th:each="userrole:${userroles}">
			<td th:text="${userrole.name}"></td>
			<td th:text="${userrole.createTime}"></td>
			<td>
				<a th:href="@{removerole(uid=${user.id}, rid=${userrole.id})}">删除角色</a>
			</td>
		</tr>
	</table>
	<a th:href="@{list}">返回用户列表</a>

	<div th:insert="~{system/common/component::#myfooter}"></div>
	
</body>

</html>