<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>user list page</title>
</head>

<body>
	<h1>list user</h1>

	<table border="1">
		<tr>
			<th>id</th>
			<th>username</th>
			<th>password</th>
			<th>creat_time</th>
			<th>操作</th>
		</tr>
		<tr th:each="user:${users}">
			<td th:text="${user.id}">id</td>
			<td th:text="${user.username}">username</td>
			<td th:text="${user.password}">password</td>
			<td th:text="${user.createTime}">create_time</td>
			<td>
				<a th:href="@{update(id=${user.id})}">更新</a>
				<a th:href="@{remove(id=${user.id})}">删除</a>
			</td>
		</tr>
	</table>

	<a th:href="@{add}">添加用户</a>

</body>

</html>