<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>user list page</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!-- Main CSS -->
	<link rel="stylesheet" th:href="@{/css/main.css}">

	<!-- Animation CSS -->
	<link rel="stylesheet" th:href="@{/css/aos.css}">

</head>

<body>
	<h1>用户管理</h1>

	<div>
		<span><a th:href="@{/index}">首页</a></span>
		<span><a th:href="@{/login}">登录</a></span>
		<span><a th:href="@{/logout}">退出</a></span>
	</div>

	<div>
		<span><a th:href="@{/user/list}">用户列表</a></span>
		<span><a th:href="@{/role/list}">角色列表</a></span>
		<span><a th:href="@{/menu/list}">菜单列表</a></span>
		<span><a th:href="@{/url/list}">资源列表</a></span>
	</div>

	<!-- table -->
	<table class="table" border="1">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">用户名称</th>
				<th scope="col">描述与说明</th>
				<th scope="col">创建时间</th>
				<th scope="col">更新时间</th>
				<th scope="col">用户授权</th>
				<th scope="col">操作管理</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<th scope="row">[[${user.id}]]</th>
				<td>[[${user.username}]]</td>
				<td>[[${user.description}]]</td>
				<td>[[${#dates.format(user.createTime, 'yyyy-MM-dd')}]]</td>
				<td>[[${#dates.format(user.updateTime, 'yyyy-MM-dd')}]]</td>
				<td>
					<a class="btn btn-outline-primary" th:href="@{auth(uid=${user.id})}">用户授权</a>
				</td>
				<td>
					<a class="btn btn-outline-primary" th:href="@{update(uid=${user.id})}">更新</a>
					<a class="btn btn-outline-primary" th:href="@{remove(uid=${user.id})}">删除</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
					<!-- 分页 -->
					<div th:insert="~{system/common/component::#mypagination}"></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<a th:href="@{add}">添加用户</a>

	<div th:insert="~{system/common/component::#myheader}"></div>

	<div th:insert="~{system/common/component::#myrolechange}"></div>

	<div th:insert="~{system/common/component::#mymenu}"></div>

	<div th:insert="~{system/common/component::#myfooter}"></div>

	<div th:insert="~{system/common/component::#mypagination}"></div>

</body>

</html>