<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>user list page</title>
</head>

<body>
	<h1>用户管理</h1>

	<div>
		<span><a th:href="@{/index}">首页</a></span>
		<span><a th:href="@{/login}">登录</a></span>
		<span><a th:href="@{/logout}">退出</a></span>
	</div>

	<div>
		<span><a th:href="@{/user/list}">用户列表</a></span>
		<span><a th:href="@{/role/list}">角色列表</a></span>
		<span><a th:href="@{/menu/list}">菜单列表</a></span>
		<span><a th:href="@{/url/list}">资源列表</a></span>
	</div>

	<table border="1">
		<thead>
			<tr>
				<th>id</th>
				<th>username</th>
				<th>password</th>
				<th>description</th>
				<th>creat_time</th>
				<th>update_time</th>
				<th>操作</th>
				<th>管理</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user:${users}">
				<td th:text="${user.id}">id</td>
				<td th:text="${user.username}">username</td>
				<td th:text="${user.password}">password</td>
				<td th:text="${user.description}">description</td>
				<td th:text="${user.createTime}">create_time</td>
				<td th:text="${user.updateTime}">update_time</td>
				<td>
					<a th:href="@{update(uid=${user.id})}">更新</a>
					<a th:href="@{remove(uid=${user.id})}">删除</a>
				</td>
				<td>
					<a th:href="@{auth(uid=${user.id})}">用户授权</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8">
					
					第 <span th:text="${pageinfo.pageNum}"></span> 页，
					共 <span th:text="${pageinfo.pages}"></span> 页，
					有 <span th:text="${pageinfo.total}"></span> 个分类
					
					<a th:each="pages:${pageinfo.navigatepageNums}" 
						th:href="@{list(pageNum=${pages})}" 
						th:text="${pages}">分页</a>
						
					<!--<div align="center">
						<a th:href="@{list(pageNum=${pages.prePage})}">上一页</a>
						<a th:href="@{list(pageNum=${pages.nextPage})}">下一页</a>
						<p>
							第 <span th:text="${pages.pageNum}"></span> 页，
							共 <span th:text="${pages.pages}"></span> 页，
							有 <span th:text="${pages.total}"></span> 个分类
						</p>
					</div>-->
					
				</td>
			</tr>
		</tfoot>
	</table>

	<a th:href="@{add}">添加用户</a>

	<div th:insert="~{system/common/component::#myfooter}"></div>
	
</body>

</html>