<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>update user page</title>
</head>
<body>
	<h1>update user</h1>
	
	
	<form th:object="${updateuser}" action="/user/updateuser" method="post">
		id:<input type="text" name="id" th:value="*{id}" readonly>
		username:<input type="text" name="username" th:value="*{username}">
		password:<input type="text" name="password" th:value="*{password}">
		<input type="submit" value="更新用户">
	</form>
</body>
</html>